/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/*customize by longfei0128*/

/*grid*/
.g1 { width:10%;}
.g2 { width:20%;}
.g3 { width:30%;}
.g4 { width:40%;}
.g5 { width:50%;}
.g6 { width:60%;}
.g7 { width:70%;}
.g8 { width:80%;}
.g9 { width:90%;}
.g10 { width:100%;}

a { color: #333; text-decoration: none; }

input[type=submit], button { cursor: pointer;}
strong, b, .b { font-weight: bold; }
em, i{ font-style:normal;}
.u { text-decoration: underline; }

.center { text-align: center; }
.tr { text-align: right; }
.tl { text-align: left; }
.tc { text-align: center; }

.fr { float: right; }
.fl { float: left; }

.fff{color:#fff;}
.f333 { color:#333;}
.f666 { color:#666;}
.f999 { color:#999;}
.f72a{color:#c7222a}

.f10 { font-size: 10px; }
.f11 { font-size: 11px; }
.f12 { font-size: 12px; }
.f14 { font-size: 14px; }
.f15 { font-size: 15px; }
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.f20 { font-size: 20px; }
.f22 { font-size: 22px; }
.f24 { font-size: 24px; }
.f36 { font-size: 36px; }
.f38 { font-size: 38px; }
.f60 { font-size: 60px; }


.show,.block { display: block; }
.hide,.none { display: none; }
.yahei { font-family: "Microsoft YaHei";}
.songti { font-family:SimSun;}
.verdana { font-family:Verdana;}

.vm { vertical-align:middle;}
.cup{cursor: pointer;}
.ovh{overflow: hidden;}
.rel{position: relative;}
.abs{position: absolute;}


.mt5 { margin-top: 5px; }
.mr5 { margin-right: 5px; }
.mb5 { margin-bottom: 5px; }
.ml5 { margin-left: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.mb10 { margin-bottom: 10px; }
.ml10 { margin-left: 10px; }
.mb20 { margin-bottom: 20px; }

.p5 { padding:5px;}
.p10 { padding:10px;}
.pt5 { padding-top: 5px; }
.pr5 { padding-right: 5px; }
.pb5 { padding-bottom: 5px; }
.pl5 { padding-left: 5px; }
.pt10 { padding-top: 10px; }
.pr10 { padding-right: 10px; }
.pb10 { padding-bottom: 10px; }
.pl10 { padding-left: 10px; }
.pb20{padding-bottom:20px;}
.pl20{padding-left:20px;}

.lh1 { line-height:1;}
.lh2 { line-height:2;}
.lh3 { line-height:3;}


.pointer { cursor:pointer;}
.noborder { border:0 none;}

html { background: #fff; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;font-size:62.5%; }
.w{margin:0 auto;max-width:1280px;}

.fix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.fix { display: inline-table; }
* html .fix { height: 1%; }
.fix { display: block; *zoom:1;}

body { line-height: 1.6; font-family: 宋体,simsun,"Microsoft yahei"; min-height: 460px; color: #333;  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-size:1.4rem;min-width:1280px;background:url("/content/dist/img/h1.jpg") repeat 0 0;}

/* 最大1350px */
@media only screen
and (min-width : 1351px) {

}
@media only screen
and (max-width : 1024px) {

}

/*-----------------------------------------------------------------------------------------------------------------------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
/* Styles */
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
/* Styles */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
/* Styles */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
 
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}